accelerate==1.7.0
aiofiles==0.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.7.4
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anthropic==0.46.0
anyio==4.9.0
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout==3.0.1
attrs==25.3.0
autogen-agentchat==0.2.40
autogen-core==0.6.1
backoff==2.2.1
banks==2.1.2
bcrypt==4.3.0
beautifulsoup4==4.13.4
bitsandbytes==0.42.0
bleach==6.2.0
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.2
celluloid==0.2.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi==1.17.1
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==3.4.2
choreographer==1.0.9
chromadb==1.0.9
click==8.1.8
cmd2==1.5.0
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.2
cryptography==45.0.3
cssselect2==0.8.0
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.14
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
docker==7.1.0
docstring_parser==0.16
durationpy==0.10
EbookLib==0.18
einops==0.8.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fastapi==0.115.9
fastjsonschema==2.21.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
filetype==1.2.0
FLAML==2.3.5
flatbuffers==25.2.10
fonttools==4.60.1
frozenlist==1.6.2
fsspec==2025.5.1
ftfy==6.3.1
google-auth==2.40.3
google-genai==1.21.1
googleapis-common-protos==1.70.0
GraphReasoning @ file:///nfs/pool002/users/istewart/saintgobain/GraphReasoning_SG
greenlet==3.2.3
griffe==1.7.3
grpcio==1.73.0
h11==0.16.0
hf-xet==1.1.3
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.32.4
humanfriendly==10.0
hypernetx==2.4.0
identify==2.6.12
idna==2.10
igraph==0.11.9
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inquirerpy==0.3.4
instructor==1.8.3
ipykernel==6.29.5
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1748711175/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.0.0
jiter==0.8.2
joblib==1.5.1
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyterlab_pygments==0.3.0
jupyterthemes @ file:///home/conda/feedstock_root/build_artifacts/jupyterthemes_1736338236882/work
kaleido==1.0.0
kiwisolver==1.4.9
kubernetes==32.0.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.64
langchain-text-splitters==0.3.8
langsmith==0.3.45
lesscpy @ file:///home/conda/feedstock_root/build_artifacts/lesscpy_1735030246976/work
lightgbm==4.6.0
llama-index-core==0.12.41
llama-index-embeddings-huggingface==0.5.4
llama_cpp_python @ git+https://github.com/abetlen/llama-cpp-python@37eb5f0a4c2a8706b89ead1406b1577c4602cdec
logistro==1.1.0
lxml==5.4.0
mammoth==1.9.1
markdown-it-py==3.0.0
markdown2==2.5.3
markdownify==0.13.1
marker==2.1.5
marker-pdf==1.7.1
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mistune==3.1.4
mmh3==5.1.0
mpmath==1.3.0
multidict==6.4.4
munkres==1.1.4
mypy_extensions==1.1.0
narwhals==2.0.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
onnxruntime==1.16.3
openai==1.84.0
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.34.0
opentelemetry-exporter-otlp-proto-common==1.34.0
opentelemetry-exporter-otlp-proto-grpc==1.34.0
opentelemetry-instrumentation==0.55b0
opentelemetry-instrumentation-asgi==0.55b0
opentelemetry-instrumentation-fastapi==0.55b0
opentelemetry-proto==1.34.0
opentelemetry-sdk==1.34.0
opentelemetry-semantic-conventions==0.55b0
opentelemetry-util-http==0.55b0
orjson==3.10.18
overrides==7.7.0
packaging==25.0
pandas==2.3.0
pandoc==2.4
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pdfkit==1.0.0
pdfminer.six==20250506
pdftext==0.6.3
peft==0.15.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pfzy==0.3.4
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==12.0.0
platformdirs==4.3.8
plotly==6.2.0
plumbum==1.9.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
posthog==4.6.1
powerlaw==1.5
pre_commit==4.2.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.3.1
protobuf==5.29.5
psutil==7.0.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydyf==0.11.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing==3.2.5
pypdfium2==4.30.0
pyperclip==1.11.0
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-louvain==0.16
python-pptx==1.0.2
pytz==2025.2
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==26.4.0
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.3
requests==2.25.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==10.2.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.17.17
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==4.1.0
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sse-starlette==2.3.6
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.45.3
starlette-context==0.4.0
surya-ocr==0.14.1
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
texttable==1.7.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
together==1.5.16
tokenizers==0.21.1
tomli==2.2.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.5.1
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.48.3
triton==3.2.0
typer==0.15.4
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1748959427/work
tzdata==2025.2
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692496989/work
urllib3==1.26.20
uuid==1.30
uvicorn==0.34.3
uvloop==0.21.0
virtualenv==20.31.2
watchfiles==1.0.5
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasyprint==63.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wkhtmltopdf==0.2
wrapt==1.17.2
xgboost==2.1.4
xlsxwriter==3.2.5
yachalk==0.1.7
yarl==1.20.0
zipp==3.23.0
zopfli==0.2.3.post1
zstandard==0.23.0
